<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="RestAssuredApplaudo">
        <classes>
            <class name="Tests">
                <methods>
                    <include name="getBirthdayOnly_test"></include>
                    <include name="getAllCharacters"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>